<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Тема 3. Обучение с учителем. Методы классификации
## <center>Практика. Дерево решений в задаче предсказания выживания пассажиров "Титаника". Решение

**Заполните код в клетках и выберите ответы в [веб-форме](https://goo.gl/TBwVhQ).**

**<a href="https://www.kaggle.com/c/titanic">Соревнование</a> Kaggle "Titanic: Machine Learning from Disaster".**

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.svm import SVC

%matplotlib inline
import seaborn as sns
from matplotlib import pyplot as plt

from sklearn.svm import SVR

**Функция для формирования csv-файла посылки на Kaggle:**

In [2]:
def write_to_submission_file(
    predicted_labels,
    out_file,
    train_num=891,
    target="Survived",
    index_label="PassengerId",
):
    # turn predictions into data frame and save as csv file
    predicted_df = pd.DataFrame(
        predicted_labels,
        index=np.arange(train_num + 1, train_num + 1 + predicted_labels.shape[0]),
        columns=[target],
    )
    predicted_df.to_csv(out_file, index_label=index_label)

**Считываем обучающую и тестовую выборки.**

In [3]:
train_df = pd.read_csv("../../data/titanic_train.csv")
test_df = pd.read_csv("../../data/titanic_test.csv")

In [4]:
y = train_df["Survived"]

In [5]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train_df.describe(include="all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Lemore, Mrs. (Amelia Milley)",male,NaN,NaN,NaN,347082,NaN,C23 C25 C27,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [7]:
test_df.describe(include="all")

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,418.000000,418.000000,418,418,332.000000,418.000000,418.000000,418,417.000000,91,418
unique,NaN,NaN,418,2,NaN,NaN,NaN,363,NaN,76,3
top,NaN,NaN,"Franklin, Mr. Thomas Parham",male,NaN,NaN,NaN,PC 17608,NaN,B57 B59 B63 B66,S
freq,NaN,NaN,1,266,NaN,NaN,NaN,5,NaN,3,270
mean,1100.500000,2.265550,NaN,NaN,30.272590,0.447368,0.392344,NaN,35.627188,NaN,NaN
std,120.810458,0.841838,NaN,NaN,14.181209,0.896760,0.981429,NaN,55.907576,NaN,NaN
min,892.000000,1.000000,NaN,NaN,0.170000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,996.250000,1.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN
50%,1100.500000,3.000000,NaN,NaN,27.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1204.750000,3.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.500000,NaN,NaN
max,1309.000000,3.000000,NaN,NaN,76.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN

**Заполним пропуски медианными значениями.**

In [8]:
train_df["Age"].fillna(train_df["Age"].median(), inplace=True)
test_df["Age"].fillna(train_df["Age"].median(), inplace=True)
train_df["Embarked"].fillna("S", inplace=True)
test_df["Fare"].fillna(train_df["Fare"].median(), inplace=True)

**Кодируем категориальные признаки `Pclass`, `Sex`, `SibSp`, `Parch` и `Embarked` с помощью техники One-Hot-Encoding.**

In [9]:
train_df = pd.concat(
    [
        train_df,
        pd.get_dummies(train_df["Pclass"], prefix="PClass"),
        pd.get_dummies(train_df["Sex"], prefix="Sex"),
        pd.get_dummies(train_df["SibSp"], prefix="SibSp"),
        pd.get_dummies(train_df["Parch"], prefix="Parch"),
        pd.get_dummies(train_df["Embarked"], prefix="Embarked"),
    ],
    axis=1,
)
test_df = pd.concat(
    [
        test_df,
        pd.get_dummies(test_df["Pclass"], prefix="PClass"),
        pd.get_dummies(test_df["Sex"], prefix="Sex"),
        pd.get_dummies(test_df["SibSp"], prefix="SibSp"),
        pd.get_dummies(test_df["Parch"], prefix="Parch"),
        pd.get_dummies(test_df["Embarked"], prefix="Embarked"),
    ],
    axis=1,
)

In [10]:
train_df.drop(
    [
        "Survived",
        "Pclass",
        "Name",
        "Sex",
        "SibSp",
        "Parch",
        "Ticket",
        "Cabin",
        "Embarked",
        "PassengerId",
    ],
    axis=1,
    inplace=True,
)
test_df.drop(
    [
        "Pclass",
        "Name",
        "Sex",
        "SibSp",
        "Parch",
        "Ticket",
        "Cabin",
        "Embarked",
        "PassengerId",
    ],
    axis=1,
    inplace=True,
)

**В тестовой выборке появляется новое значение Parch = 9, которого нет в обучающей выборке. Проигнорируем его.**

In [11]:
train_df.shape, test_df.shape

((891, 24), (418, 25))

In [12]:
set(test_df.columns) - set(train_df.columns)

{'Parch_9'}

In [13]:
test_df.drop(["Parch_9"], axis=1, inplace=True)

In [14]:
train_df.head()

,Age,Fare,PClass_1,PClass_2,PClass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,22.0,7.2500,0,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
1,38.0,71.2833,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,26.0,7.9250,0,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,35.0,53.1000,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
4,35.0,8.0500,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [15]:
test_df.head()

,Age,Fare,PClass_1,PClass_2,PClass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,34.5,7.8292,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,1,0
1,47.0,7.0000,0,0,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,62.0,9.6875,0,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,1,0
3,27.0,8.6625,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
4,22.0,12.2875,0,0,1,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1

## 1. Дерево решений без настройки параметров

**Обучите на имеющейся выборке дерево решений (`DecisionTreeClassifier`) максимальной глубины 2. Используйте параметр `random_state=17` для воспроизводимости результатов.**

In [16]:
# Ваш код здесь
clf_svm=SVR()
clf_svm.fit(train_df,y)

SVR()

**Сделайте с помощью полученной модели прогноз для тестовой выборки **

In [36]:
ans=clf_svm.predict(test_df)# Ваш код здесь

array([0.07864412, 0.15001684, 0.11241669, 0.07251867, 0.18203272,
       0.16330062, 0.1582178 , 0.20064697, 0.2127266 , 0.15860142,
       0.06960512, 0.11673445, 0.90411353, 0.07428969, 0.6605261 ,
       0.29914273, 0.10096021, 0.11595767, 0.14560761, 0.16452313,
       0.54841513, 0.21938237, 0.29678325, 0.65970135, 0.8343283 ,
       0.06343483, 0.73258614, 0.10726658, 0.16101701, 0.11910261,
       0.10861455, 0.2278018 , 0.1626182 , 0.19690353, 0.58781861,
       0.13363446, 0.14658453, 0.17707819, 0.08039353, 0.53238277,
       0.08092504, 0.16589843, 0.0697889 , 0.17343572, 0.52656757,
       0.07898779, 0.16111518, 0.08547566, 0.8274888 , 0.14348977,
       0.61707118, 0.12662795, 0.27194919, 0.89255074, 0.12444325,
       0.33179764, 0.0633935 , 0.07882768, 0.0797408 , 0.87476042,
       0.12989354, 0.09064937, 0.12099718, 0.18556221, 0.90237013,
       0.2129102 , 0.21276488, 0.2876925 , 0.18849923, 0.78047508,
       0.1757217 , 0.09934409, 0.14432932, 0.19178367, 0.90258737,
       0.89656082, 0.06962377, 0.16320857, 0.09395015, 0.1757217 ,
       0.32285528, 0.87145781, 0.11163087, 0.06960512, 0.11163059,
       0.09248591, 0.16499557, 0.19707323, 0.162238  , 0.44549298,
       0.18238579, 0.06959624, 0.56150489, 0.06962377, 0.19567438,
       0.07890946, 0.74726433, 0.067482  , 0.18190855, 0.0631752 ,
       0.59450622, 0.16608199, 0.08547566, 0.07527124, 0.23629046,
       0.11331118, 0.11537371, 0.08547566, 0.06979834, 0.15504343,
       0.10191251, 0.16225815, 0.28407755, 0.20754845, 0.88183392,
       0.15458733, 0.08658388, 0.47588886, 0.81676346, 0.23984693,
       0.31394151, 0.08193234, 0.65009387, 0.06961567, 0.08547566,
       0.23964264, 0.09323069, 0.20903786, 0.08577696, 0.08329873,
       0.06366141, 0.13215483, 0.21480065, 0.0830186 , 0.07302556,
       0.08314114, 0.09054248, 0.10727559, 0.1647717 , 0.34843107,
       0.56077307, 0.8986415 , 0.77522315, 0.16400441, 0.12696039,
       0.0695118 , 0.48667021, 0.09351611, 0.16589843, 0.15593005,
       0.91813904, 0.08654861, 0.06490297, 0.13795552, 0.29038558,
       0.08292097, 0.90058917, 0.16446701, 0.12696039, 0.16302795,
       0.16222659, 0.30589793, 0.18834996, 0.06965771, 0.08538366,
       0.203317  , 0.42583584, 0.2729379 , 0.27733875, 0.17173615,
       0.06959307, 0.08906265, 0.09664781, 0.0864772 , 0.14319342,
       0.46448234, 0.40141755, 0.48493218, 0.3511845 , 0.87012525,
       0.09395015, 0.88419031, 0.61599208, 0.08547566, 0.90394221,
       0.08754698, 0.25832834, 0.12383574, 0.76339478, 0.08509692,
       0.13920141, 0.16146361, 0.21617055, 0.10028174, 0.40659902,
       0.06333397, 0.89145559, 0.19643852, 0.11631061, 0.14663139,
       0.17777351, 0.40504189, 0.88919436, 0.43697629, 0.10635579,
       0.17772939, 0.15463655, 0.11105304, 0.25707857, 0.0789696 ,
       0.09913825, 0.06964762, 0.78125943, 0.15114854, 0.12952523,
       0.30386094, 0.16232918, 0.90428294, 0.90534922, 0.06962377,
       0.18945608, 0.0995441 , 0.2000154 , 0.09921829, 0.19848296,
       0.17734874, 0.0878633 , 0.162238  , 0.06317343, 0.08553645,
       0.70441393, 0.29109246, 0.09469537, 0.08548961, 0.7711742 ,
       0.10592638, 0.74775123, 0.12253771, 0.24006683, 0.97275594,
       0.19298211, 0.22411474, 0.88781414, 0.06960435, 0.11410793,
       0.45395635, 0.24639572, 0.17826816, 0.23984693, 0.17266859,
       0.56017135, 0.10602743, 0.8855595 , 0.08463467, 0.06277778,
       0.06959307, 0.08547566, 0.06962377, 0.22917867, 0.09919251,
       0.06531431, 0.09929139, 0.21887919, 0.45398565, 0.11071619,
       0.06960512, 0.09555947, 0.06959307, 0.14658453, 0.1314141 ,
       0.81085217, 0.08547566, 0.89892916, 0.1744389 , 0.08647722,
       0.29471028, 0.09540083, 0.12571976, 0.11959728, 0.12214918,
       0.16579838, 0.39784451, 0.162238  , 0.34869014, 0.47538982,
       0.06487707, 0.06961567, 0.85491717, 0.0864772 , 0.06962377,
       0.30792402, 0.15809767, 0.0864772 , 0.85331725, 0.06211062,
       0.0753227 , 0.67279351, 0.11910261, 0.38349297, 0.06748824,
       0.06383616, 0.12272718, 0.10060436, 0.08387291, 0.162238  ,
       0.13466875, 0.88745368, 0.37946633, 0.92030149, 0.1360979 ,
       0.12265776, 0.11000939, 0.06959257, 0.15513742, 0.90460963,
       0.22071184, 0.8909328 , 0.14333623, 0.07219838, 0.24123243,
       0.07527124, 0.09576952, 0.10727559, 0.14697062, 0.90407357,
       0.08726486, 0.49291984, 0.85219781, 0.15672492, 0.13543034,
       0.28164418, 0.1749542 , 0.08647722, 0.23551898, 0.07220939,
       0.15298383, 0.08981737, 0.08237371, 0.22945044, 0.0864772 ,
       0.15167637, 0.06397716, 0.71327666, 0.88467147, 0.07924866,
       0.21341222, 0.10727559, 0.15697294, 0.11830203, 0.20159416,
       0.71168348, 0.10635579, 0.78042828, 0.64273075, 0.50656489,
       0.10979737, 0.4384621 , 0.0696036 , 0.08547566, 0.15218555,
       0.71500291, 0.39777642, 0.20159416, 0.07251867, 0.63819783,
       0.77552453, 0.09249709, 0.39563092, 0.65078417, 0.11598796,
       0.12800295, 0.9006302 , 0.14065058, 0.08678464, 0.89713918,
       0.84588297, 0.16461122, 0.13107705, 0.3755174 , 0.40431222,
       0.08547566, 0.09131048, 0.15854355, 0.21361268, 0.09942861,
       0.74191955, 0.08308094, 0.09005972, 0.11528304, 0.32588454,
       0.9005969 , 0.30645799, 0.22118735, 0.09305789, 0.0988157 ,
       0.70204142, 0.09877809, 0.89881901, 0.09320823, 0.08032302,
       0.90565079, 0.10076822, 0.70061914, 0.4705718 , 0.14681344,
       0.16392015, 0.1130952 , 0.90077118, 0.16221811, 0.42339479,
       0.162238  , 0.96172581, 0.14639324, 0.06962377, 0.96062893,
       0.06750532, 0.06962377, 0.13130898])

In [39]:
ans>0.5

array([False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True, False, False, False,
       False, False,  True, False, False,  True,  True, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False,  True, False,  True, False, False,  True,
       False, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True,  True, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False,  True, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False,  True,  True, False,  True, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False,  True,  True, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
        True, False,  True, False, False,  True, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False, False, False, False, False,  True, False, False,  True,
       False, False, False, False, False, False, False, False, False,
        True, False,  True, False, False, False, False, False,  True,
       False,  True, False, False, False, False, False, False, False,
        True, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True, False, False, False, False, False, False,  True,
       False,  True,  True,  True, False, False, False, False, False,
        True, False, False, False,  True,  True, False, False,  True,
       False, False,  True, False, False,  True,  True, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False,  True, False, False,  True, False,  True, False, False,
       False, False,  True, False, False, False,  True, False, False,
        True, False, False, False])

**Сформируйте файл посылки и отправьте на Kaggle**

In [18]:
# Ваш код здесь
write_to_submission_file(clf_svm.predict(test_df),"out.csv")

<font color='red'>Вопрос 1. </font> Каков результат первой посылки (дерево решений без настройки параметров) в публичном рейтинге соревнования Titanic?
- 0.746
- 0.756
- 0.766
- 0.776

**Отобразите дерево с помощью `export_graphviz` и `dot`.**

In [17]:
# Ваш код здесь

<font color='red'>Вопрос 2. </font> Сколько признаков задействуются при прогнозе деревом решений глубины 2?
- 2
- 3
- 4
- 5

## 2. Дерево решений с настройкой параметров

**Обучите на имеющейся выборке дерево решений (`DecisionTreeClassifier`). Также укажите `random_state=17`. Максимальную глубину и минимальное число элементов в листе настройте на 5-кратной кросс-валидации с помощью `GridSearchCV`.**

In [ ]:
# tree params for grid search
tree_params = {"max_depth": list(range(1, 5)), "min_samples_leaf": list(range(1, 5))}

# Ваш код здесь

<font color='red'>Вопрос 3. </font> Каковы лучшие параметры дерева, настроенные на кросс-валидации с помощью `GridSearchCV`?
- max_depth=2, min_samples_leaf=1
- max_depth=2, min_samples_leaf=4
- max_depth=3, min_samples_leaf=2
- max_depth=3, min_samples_leaf=3

<font color='red'>Вопрос 4. </font> Какой получилась средняя доля верных ответов на кросс-валидации для дерева решений с лучшим сочетанием гиперпараметров `max_depth` и `min_samples_leaf`?
- 0.77
- 0.79
- 0.81
- 0.83

**Сделайте с помощью полученной модели прогноз для тестовой выборки.**

In [ ]:
# Ваш код здесь

**Сформируйте файл посылки и отправьте на Kaggle.**

In [ ]:
# Ваш код здесь

<font color='red'>Вопрос 5. </font> Каков результат второй посылки (дерево решений с настройкой гиперпараметров) в публичном рейтинге соревнования Titanic?
- 0.7499
- 0.7599
- 0.7699
- 0.7799

## Ссылки:

 - <a href="https://www.kaggle.com/c/titanic">Соревнование</a> Kaggle "Titanic: Machine Learning from Disaster"
 - <a href="https://www.dataquest.io/mission/74/getting-started-with-kaggle/">Тьюториал</a> Dataquest по задаче Kaggle "Titanic: Machine Learning from Disaster"